# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# OS X
.DS_Store

# LaTeX (Intermediate files)
*.tex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb
